FinCO Rag Ingestion Pipeline.json
{
  "name": "FinCO Rag Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        16
      ],
      "id": "29284ff8-aad4-4faa-92e5-c4601249f56b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/VeeAnya/finco-rag-governance-pipeline/main/FinCo_Adoption_Strategy.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -176
      ],
      "id": "0cc3c1e3-8deb-45ea-ad40-617288b51104",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/VeeAnya/finco-rag-governance-pipeline/main/FinCo_Staff_Guide.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        16
      ],
      "id": "00ac520f-4a18-44e0-8885-c16647b8da61",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/VeeAnya/finco-rag-governance-pipeline/main/Responsible_AI_Policy.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        208
      ],
      "id": "4f7ce8f3-0d3b-4610-8070-9d92723baa95",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        0
      ],
      "id": "bd1fadc9-6f9a-4079-a854-1576c6ca0627",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "finch-rag",
          "mode": "list",
          "cachedResultName": "finch-rag"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        896,
        16
      ],
      "id": "4eeae81a-4b45-4eda-8d42-c428f091ebf0",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hG6b53CUDTsVQUzl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        912,
        240
      ],
      "id": "b0c7204c-c81b-4a00-9772-af893fee825f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pAx7fraBhYc3ejfm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1040,
        240
      ],
      "id": "4a553af1-3fe8-4c08-b1f8-4d4e7de5c6c0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "// Fix MIME type for PDF files\nfor (const item of $input.all()) {\n  if (item.binary?.data) {\n    item.binary.data.mimeType = 'application/pdf';\n  }\n}\n\nreturn $input.all();"
      },
      "id": "0b6b0cfb-1164-4272-84d6-3b92528c6444",
      "name": "Fix MIME Types",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Fix MIME Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Fix MIME Types": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8deb547f-4263-4d15-adfa-787b3a241e19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85fa1a6e75aa16836557b8060f8c8792f6a12d2fd6fb42ea4fca92964fe5d7d9"
  },
  "id": "2VVB2Bso90hZFSwX",
  "tags": []
}