FinCo RAG Query Pipeline Workflow.json
{
  "name": "FinCo RAG Query Pipeline Workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "bc943234-e074-4709-b5ed-d654b9f7cbc7",
      "name": "When chat message received",
      "webhookId": "6839b9b2-9edb-4053-b5bf-ec3e4251db63"
    },
    {
      "parameters": {
        "mode": "load",
        "pineconeIndex": {
          "__rl": true,
          "value": "finch-rag",
          "mode": "list",
          "cachedResultName": "finch-rag"
        },
        "prompt": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "98cb215b-6160-47c4-aa5c-e803a3d4701d",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "hG6b53CUDTsVQUzl",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        208,
        176
      ],
      "id": "bbb1736b-0e1f-4e1c-b91c-97f77057559e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "pAx7fraBhYc3ejfm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI governance assistant for FinCo UK. Answer the following question using only the context provided below. If the answer cannot be found in the context, say \"I cannot find this information in FinCo's governance documents. Please contact the AI Governance Committee directly.\" Always cite which document and section your answer comes from.\n\nQuestion: {{ $('When chat message received').item.json.chatInput }}\n\nContext: {{ $('Pinecone Vector Store').all().map(item => item.json.document.pageContent).join('\\n\\n') }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        560,
        0
      ],
      "id": "f1af29e1-630c-4bb7-b07c-46ee2b491322",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        496,
        208
      ],
      "id": "540b5693-5f01-4906-a36d-d538144e0c50",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "xYDnJVFhL2jSwllq",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appgbXbegnW70yu4B",
          "mode": "list",
          "cachedResultName": "FinCo RAG Query Log",
          "cachedResultUrl": "https://airtable.com/appgbXbegnW70yu4B"
        },
        "table": {
          "__rl": true,
          "value": "tblgaU8f3tBB52DKj",
          "mode": "list",
          "cachedResultName": "Query Log",
          "cachedResultUrl": "https://airtable.com/appgbXbegnW70yu4B/tblgaU8f3tBB52DKj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Question": "={{ $('When chat message received').item.json.chatInput }}",
            "Answer": "={{ $json.text }}",
            "Timestamp": "={{ new Date().toISOString() }}",
            "Session ID": "={{ $('When chat message received').item.json.sessionId }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Session ID",
              "displayName": "Session ID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        912,
        0
      ],
      "id": "5bc2295f-9e8c-447e-a86f-efc49aac7b33",
      "name": "Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "FTOIdCz4qHROnqhm",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1861cc80-5932-4589-bca9-e33d66b358c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "85fa1a6e75aa16836557b8060f8c8792f6a12d2fd6fb42ea4fca92964fe5d7d9"
  },
  "id": "bJcKeW7GmVIsnsmm",
  "tags": []
}